<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dankemo</title>
    <meta name="description">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="#">Dankemo</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="text-transform: uppercase;letter-spacing: 0.1rem;font-weight: 700;font-size: 0.85rem;font-family: Lato, sans-serif;color: rgba(255,255,255,0.5);">Notes&nbsp;</a>
                            <div
                                class="dropdown-menu"><a class="dropdown-item" href="#">Add a note</a><a class="dropdown-item" href="/notes">Show all notes</a></div>
                            </div>
                    </li>
                    <li class="nav-item">
                    <div class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="text-transform: uppercase;letter-spacing: 0.1rem;font-weight: 700;font-size: 0.85rem;font-family: Lato, sans-serif;color: rgba(255,255,255,0.5);">WELCOME, USER</a>
                        <div
                            class="dropdown-menu"><a class="dropdown-item" href="inner.html">Home</a><a class="dropdown-item" href="#">Change Password</a><a class="dropdown-item" href="/logout">Logout</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
        <div class="container mt-4 mb-4">
            <div class="row justify-content-md-center">
              <div style="margin-top: 90px" class="col-md-12 col-lg-8">
                <h1 class="h2 mb-4" style="text-align: center; color: cornflowerblue;">Today's Journal Entry</h1>
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter a Title" name="title">
                    </div>
                    <div class="form-group">
                    <textarea id="editor" name="note_detailed"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" name="add_note">Add entry</button>
                </form> <br/>
                <button class="btn btn-danger" onclick="location.href='/home'">Cancel</button>
              </div>
            </div>
          </div>
    
    


      <script src="https://cdn.tiny.cloud/1/oq9o8ehtt8g4wj1ypnamd64dooneiqpg03jy7wx1322jz1zb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

      <script>
        tinymce.init({
          selector: 'textarea#editor',
          menubar: false
        });

        
      </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

</body>

</html>
