<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dankemo</title>
    <meta name="description" content="Reflect on your blessings. Live your best life!">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <style>
        th,td{
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/home">Dankemo</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="text-transform: uppercase;letter-spacing: 0.1rem;font-weight: 700;font-size: 0.85rem;font-family: Lato, sans-serif;color: rgba(255,255,255,0.5);">Journal&nbsp;</a>
                            <div
                                class="dropdown-menu"><a class="dropdown-item" href="/add">Add an entry</a><a class="dropdown-item" href="/notes">Show all entries</a></div>
            </div>
            </li>
            <li class="nav-item">
                <div class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="text-transform: uppercase;letter-spacing: 0.1rem;font-weight: 700;font-size: 0.85rem;font-family: Lato, sans-serif;color: rgba(255,255,255,0.5);">WELCOME, {{uname}}</a>
                    <div
                        class="dropdown-menu"><a class="dropdown-item" href="/home">Home</a><a class="dropdown-item" href="#">Change Password</a><a class="dropdown-item" href="/logout">Logout</a></div>
        </div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <a href="#">Home </a></li>
                {% if entries %}
                {% for e in entries %}
                    <li> <a href="#">{{ e["title"] }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div></div>
                        <div style="margin-top:10px;" class="alert alert-success" role="alert">
                            Your gratitude points: {{gpoints}}
                            <br/>
                            Your daily journal time: {{time}}:00 hours
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="h2 mb-4" style="text-align: center; color: cornflowerblue;">Your Gratitude Journal</h1>
            <div class="container">
                <div class="card" id="TableSorterCard">
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <table class="table table tablesorter" id="ipi-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Title</th>
                                            <th class="">Date</th>
                                            <th class="sorter-false">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if entries %}
                                        {% for e in entries %}
                                        <tr>
                                            <td>{{e["title"]}}</td>
                                            <td>{{e["date"]}}</td>
                                            <td><form action=""><button style="border:none; background-color: rgba(0,0,0,0)" ><i class="fas fa-trash-alt"></i></button></form></td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="tablehelpModal" aria-labeledby="tablehelpModal" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Table Filtering Options</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width:1%">Priority</th>
                                                    <th style="width:9%">Operator</th>
                                                    <th style="width:30%">Description</th>
                                                    <th style="width:60%">Examples</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><code>|</code>&nbsp;or&nbsp;&nbsp;<code>OR</code><br></td>
                                                    <td>Logical "or" (Vertical bar). Filter the column for content that matches text from either side of the bar.<br></td>
                                                    <td><code>&lt;20 | &gt;40</code>&nbsp;(matches a column cell with either "&lt;20" or "&gt;40")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td><code>&amp;&amp;</code>&nbsp;or <code>AND</code><br></td>
                                                    <td>Logical "and". Filter the column for content that matches text from either side of the operator.<br></td>
                                                    <td><code>&gt;20 &amp;&amp; &gt;40</code>&nbsp;(matches a column cell that contains both "&gt;20" and "&lt;40")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><code>/\d/</code><br></td>
                                                    <td>Add any regex to the query to use in the query ("mig" flags can be included&nbsp;<code>/\w/mig</code>)<br></td>
                                                    <td><code>/b[aeiou]g/i</code>&nbsp;(finds "bag", "beg", "BIG", "Bug", etc);<code>&gt;/r$/</code>&nbsp;(matches text that ends with an "r")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td><code>&lt; &lt;= &gt;= &gt;</code><br></td>
                                                    <td>Find alphabetical or numerical values less than or greater than or equal to the filtered query .<br></td>
                                                    <td><code>&lt;=10</code>&nbsp;(find values greater than or equal to 10)<br></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td><code>!</code>&nbsp;or&nbsp;<code>!=</code><br></td>
                                                    <td>Not operator, or not exactly match. Filter the column with content that&nbsp;<strong>do not</strong>&nbsp;match the query. Include an equal (<code>=</code>), single (<code>'</code>) or double quote (<code>"</code>)
                                                        to exactly&nbsp;<em>not</em>&nbsp;match a filter.<br><br><br></td>
                                                    <td><code>!e</code>&nbsp;(find text that doesn't contain an "e");<code>!"ELISA"</code>&nbsp;(find content that does not exactly match "ELISA")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td><code>"</code>&nbsp;or&nbsp;<code>=</code><br></td>
                                                    <td>To exactly match the search query, add a quote, apostrophe or equal sign to the beginning and/or end of the query<br></td>
                                                    <td><code>abc"</code>&nbsp;or&nbsp;<code>abc=</code>&nbsp;(exactly match "abc")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td><code>-</code>&nbsp;or <code>to</code><br></td>
                                                    <td>Find a range of values. Make sure there is a space before and after the dash (or the word "to").<br></td>
                                                    <td><code>10 - 30</code>&nbsp;or&nbsp;<code>10 to 30</code>&nbsp;(match values between 10 and 30)<br></td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td><code>?</code><br></td>
                                                    <td>Wildcard for a single, non-space character.<br></td>
                                                    <td><code>S?c</code>&nbsp;(finds "Sec" and "Soc", but not "Seec")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td><code>*</code><br></td>
                                                    <td>Wildcard for zero or more non-space characters.<br></td>
                                                    <td><code>B*k</code>&nbsp;(matches "Black" and "Book")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td><code>~</code><br></td>
                                                    <td>Perform a fuzzy search (matches sequential characters) by adding a tilde to the beginning of the query<br></td>
                                                    <td><code>~bee</code>&nbsp;(matches "Bruce Lee" and "Brenda Dexter"), or&nbsp;<code>~piano</code>&nbsp;(matches "Philip Aaron Wong")<br></td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>text<br></td>
                                                    <td>Any text entered in the filter will&nbsp;<strong>match</strong>&nbsp;text found within the column<br></td>
                                                    <td><code>abc</code>&nbsp;(finds "abc", "abcd", "abcde", etc);<code>SEC</code>&nbsp;(finds "SEC" and "Analytical SEC")<br></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer"><button class="btn btn-danger" type="button" data-dismiss="modal">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>