<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Dankemo</title>
    <meta name="description" content="Reflect on your blessings. Live your best life!">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/">Dankemo</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50" class="masthead-heading mb-0">Gratitude Journal</h1>
                <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50" class="masthead-subheading mb-0" style="font-size: 32px;">Reflect on your blessings. Live your best life!</h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#learn-more">Learn More</a></div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center" data-aos="fade-up" data-aos-duration="900" data-aos-delay="50">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/j-williams-5lWfPoWH6EY-unsplash.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4" style="font-size: 56px;">For each and for all!</h2>
                        <p><strong>Designed like a 'One Size fits all' so that no one feels left out.&nbsp;&nbsp;</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center" data-aos="fade-up" data-aos-duration="900" data-aos-delay="50">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/01.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4" style="font-size: 56px;">World through a different lens!</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center" data-aos="fade-up" data-aos-duration="900" data-aos-delay="50">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/static/img/amy-shamblen-qdPnQuGeuwU-unsplash.jpg" style="border-radius: none;filter: brightness(97%) contrast(93%) saturate(189%);border-style: none;"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">We respect you!</h2>
                        <p><strong>Because you've even thought of the very idea of being regular and honest about something.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="jumbotron hero-technology" id="learn-more">
        <h1 class="hero-title">Dankemo Gratitude Journal</h1>
        <p class="hero-subtitle">Express your gratitude for all things, big or small and feel the positivity around!</p>
        <p></p>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p style="text-align: center;font-size: 50px;"><strong>FEATURES:</strong></p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 competencesboxesdown"><i class="fas fa-save competencesicons"></i>
                    <h1 class="competencestitles"><strong>Save</strong></h1>
                    <p class="competencesparagraph" style="font-size: 18px;">Save the notes as you want. Dankemo has it all.</p>
                </div>
                <div class="col-md-4 competencesboxesdown"><i class="fas fa-lock competencesicons"></i>
                    <h1 class="competencestitles"><strong>Encrypted</strong></h1>
                    <p class="competencesparagraph" style="font-size: 18px;">Your writings are safe. We take security very seriously!</p>
                </div>
                <div class="col-md-4 competencesboxesdown"><i class="fas fa-edit competencesicons"></i>
                    <h1 class="competencestitles"><strong>Edit Notes</strong></h1>
                    <p class="competencesparagraph" style="font-size: 18px;">You can edit your texts very easily with Dankemo. It supports markdown as well as has a physical toolbar</p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 competencesboxesdown"><i class="fab fa-searchengin competencesicons"></i>
                    <h1 class="competencestitles"><strong>Search</strong></h1>
                    <p class="competencesparagraph" style="font-size: 18px;">Search your texts quickly using tags or titles</p>
                </div>
                <div class="col-md-4 competencesboxesdown"><i class="fas fa-sort competencesicons"></i>
                    <h1 class="competencestitles"><strong>Sort</strong></h1>
                    <p class="competencesparagraph" style="font-size: 18px;">Sort your texts according to Datetime and titles.&nbsp;</p>
                </div>
                <div class="col-md-4 competencesboxesdown"><i class="fas fa-bookmark competencesicons"></i>
                    <h1 class="competencestitles"><strong>Quick Access</strong></h1>
                    <p class="competencesparagraph" style="font-size: 18px;">Faster Access to all your notes using sidebar</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small" style="font-size: 20px;">Copyright&nbsp;© Dankemo 2020</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>