<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>
          Login - Dankemo
      </title>
        <meta name="description" content="Reflect on your blessings. Live your best life!">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="/static/css/styles.min.css">
        <link rel="icon" href="/static/img/DankTurkey.jpg" type="image/gif" sizes="24x24">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
        <link rel="stylesheet" href="/static/css/anotherstyle.css">
    </head>
    <body>
      <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom" style="height: 70px;">
        <div class="container"><a class="navbar-brand" href="/">Dankemo</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <main>
          <h1 style="padding-top: 10%; text-align: center; color:cadetblue">Log In</h1>
          <div class="container">
            <center>
              <form action="/login" method="post">
                  <div class="imgcontainer">
                    <img src="static/img/DankTurkey.jpg" alt="turkey" class="icon">
                  </div>
                
                  <div class="container">
                    
                    <input type="text" placeholder="Enter your Username" name="username" required>
                
                    
                    <input type="password" placeholder="Enter your Password" name="password" required>
                
                    <button type="submit" style="background-color:rgb(199, 28, 28)">Login</button>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                  </div>
                  
                  <div class="container">
                    <p>
                      New to Dankemo? <a href="/register"> Create a new account </a>
                    </p>
                  </div>
                </form>
          </center>
          </div>
          
        </main>

        <footer class="py-5 bg-black" style="position: relative;; left: 0; bottom: 0; width: 100%;">
          <div class="container">
              <p class="text-center text-white m-0 small" style="font-size: 20px;">Copyright&nbsp;© Dankemo 2020</p>
          </div>
        </footer>
    </body>
</html>